container_commands:
  01_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  02_installpycurl:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && export CPPFLAGS=-I/usr/local/opt/openssl/include && export LDFLAGS=-L/usr/local/opt/openssl/lib && pip install pycurl --global-option='--with-openssl'"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: djangoawsrest.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    "/static": "static/"